* {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.Video > a > h1 {
  color: #012541;
  font-weight: 800;
  font-size: 1.4em;
  margin: 0 0 0.2em 0;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-decoration: none;
}

.Video {
  background: rgb(236, 231, 231);
  padding: 20px;
  border: 1px solid #012541;
}
a {
  text-decoration: none !important;
}
